<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>EGC Data Editor</title>
      <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename="img/favicon.png") }}">

      <!-- Font-awesome -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

      <!-- jQuery dataTables -->
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
      <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      <!-- Tippy.js -->
      <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
      <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>

      <!-- EGCwebapp stylesheet -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/egcwebapp.css') }}">

      {% block head %}{% endblock %}
  </head>

  <body>

     <script>
        let fileHandle = null;

        async function loadFile() {
          try {
            [fileHandle] = await window.showOpenFilePicker();
            const file = await fileHandle.getFile();
            const contents = await file.text();
            const response = await fetch('/process_egc_data', {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({filename: file.name, contents: contents}),
            });
            if (response.ok) {
                window.location.href = '/documents';
            } else {
                throw new Error('Failed to load the EGC file');
            }
          } catch (err) {
            console.error(err);
            alert('Error loading file: ' + err.message);
          }
        }

        async function saveFile(event) {
          event.preventDefault();
          const response = await fetch('/get_egc_data/')
          const data = await response.json();
          const filename = data['filename'];
          const contents = data['contents'];
          if (!fileHandle) {
            const options = {
              suggestedName: filename,
              types: [
                {
                  description: 'EGC Files',
                  accept: {
                    'application/egc': ['.egc'],
                  },
                },
              ],
            };
            fileHandle = await window.showSaveFilePicker(options);
          }
          const writable = await fileHandle.createWritable();
          await writable.write(contents);
          await writable.close();
          alert('File saved successfully');
        }
      </script>

      <div class="topnav">
        <a href="#" onclick="loadFile()">Load</a>
        <a href="#" onclick="saveFile(event)">Save</a>
        {% for item in nav.top %}
          <a href="{{ item.url }}" class="{{ 'active' if item.is_active else '' }}">{{ item.label }}</a>
        {% endfor %}
      </div>

      <div class="container">
          {% block content %}{% endblock %}
      </div>
  </body>
</html>

