{% block content %}
  {% set table_id="group-table" %}
  {% if main %}
    {% set show_refby=True %}
  {% else %}
    {% set table_id=table_id+"-"+parent_id%}
  {% endif %}

  <div id="{{table_id}}-wrapper">
    <table id="{{table_id}}" class="table table-striped table-hover">
      <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Name</th>
            <th>Definition</th>
            <th>Tags</th>
            {% if show_refby %}
              <th>Referenced&nbsp;by</th>
            {% endif %}
            <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for group in groups %}
          <tr>
            <td>
              {% if main %}
                {{ group.id }}
              {% else %}
                {% set linked_type, linked_id, prev =
                   'group', group.id, 'group_list' %}
                {% include 'linked_record_id.html' %}
              {% endif %}
            </td>
            <td>{{ group.type }}</td>
            <td>{{ group.name }}</td>
            <td>{{ linked_group_definition(group.type, group.definition) | safe }}</td>
            <td>
              {% set record = group %}
              {% include 'tags_lines.html' %}
            </td>
            {% if show_refby %}
              <td>
                {% set ref_by_type, ref_id, ref_rt, ref_by_rt, lbl_by_type =
                       'vrule', group.id, 'G', 'V', 'value rule' %}
                {% include 'ref_by_link.html' %}
                {% set ref_by_type, ref_id, ref_rt, ref_by_rt, lbl_by_type =
                       'crule', group.id, 'G', 'C', 'comp. rule' %}
                {% include 'ref_by_link.html' %}
                {% set ref_by_type, ref_id, ref_rt, ref_by_rt, lbl_by_type =
                       'group', group.id, 'G', 'G', 'group' %}
                {% include 'ref_by_link.html' %}
              </td>
            {% endif %}
            <td>
              <a href="{{ url_for('edit_group', record_id=group.id) }}"><i class="fas fa-edit"></i></a>
              <form action="{{ url_for('delete_group', record_id=group.id) }}" method="post" style="display: inline-block;">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-link"><i class="fas fa-trash"></i></button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% if show_refby %}
    <script type="module">
     import { openNestedTable } from
          '{{ url_for('static', filename='js/nested_table.js') }}';
      $(function() {
        $('body').on('click', '.show-vrules',
              openNestedTable('groups', 'vrules', 6));
      });
      $(function() {
        $('body').on('click', '.show-crules',
              openNestedTable('groups', 'crules', 6));
      });
      $(function() {
        $('body').on('click', '.show-groups',
              openNestedTable('groups', 'groups', 6));
      });
    </script>
  {% endif %}
  {% if not main %}
    <script type="module">
      import { initNestedTable } from '{{ url_for('static', filename='js/nested_table.js') }}';
      import { initTooltips } from '{{ url_for('static', filename='js/list_group.mjs') }}';
      $(document).ready(function() {
        initNestedTable("{{table_id}}");
        initTooltips();
      });
    </script>
  {% endif %}
{% endblock %}
