{% block content %}
  {% set record_kind="crule" %}
  {% set record_type="C" %}
  {% set table_id="crule-table" %}
  {% if main %}
    {% set prev = 'crule_list' %}
    {% set ancestor_ids = [] %}
  {% else %}
    {% set ancestor_ids_str = ancestor_ids | join("-") %}
    {% set table_id=table_id+"-"+ancestor_ids_str %}
  {% endif %}
  <div id="{{table_id}}-wrapper">
    <table id="{{table_id}}" class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Sources</th>
          <th>Attribute</th>
          <th>Group 1</th>
          <th>Group 1 Portion</th>
          <th>Operator</th>
          <th>Group 2</th>
          <th>Group 2 Portion</th>
          <th>Tags</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for crule in crules %}
          {% set record = crule %}
          {% set record_id = crule.id %}
          {% include 'row_crule.html' %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% include 'jslinks_crule.html' %}
{% endblock %}

