{% block content %}
  {% set record_table="extract" %}
  {% set table_id="extract-table" %}
  {% if main %}
    {% set prev = 'extract_list' %}
    {% set ancestor_ids = [] %}
  {% else %}
    {% set ancestor_ids_str = ancestor_ids | join(".") %}
    {% set table_id=table_id+"-"+ancestor_ids_str %}
  {% endif %}
  <div id="{{table_id}}-wrapper">
    <table id="{{table_id}}" class="table table-striped table-hover">
      <thead>
        <tr>
            <th>Extract Type</th>
            <th>ID</th>
            <th>Document</th>
            <th>Text / Table Reference</th>
            <th>Tags</th>
            <th>Referenced&nbsp;by</th>
            <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for extract in extracts %}
          {% set record_id=extract.id %}
          {% set record_type=extract.record_type %}
          <tr>
            <td>{{ extract.record_type }}</td>
            <td>
              {% if main %}
                {{ extract.id }}
              {% else %}
                {% include 'linked_record_id.html' %}
              {% endif %}
            </td>
            <td style="white-space: nowrap;">
              {% set document_record_id = egc_data.
                   compute_docid_from_pfx_and_item(
                     extract.document_id.resource_prefix,
                     extract.document_id.item) %}
              <span class="document-id" style="display: inline;"
                    data-document-id="{{ document_record_id }}">
                <a href="{{ url_for('show_document',
                              record_id=document_record_id,
                              previous_page='extract_list') }}"
                   >{{ extract.document_id.resource_prefix }}:{{ extract.document_id.item }}</a></span><span
                 class="document-info" style="display: inline;">&nbsp;&#9432;</span><span
                 style="display: inline;">
                 <a href="{{ url_for('edit_document',
                                record_id=document_record_id,
                                previous_page='extract_list') }}">
                   <i class="fa fa-edit" style="color: black;"></i></a></span>
            </td>
            <td>{{ extract.text if record_type == "S" else extract.table_ref }}</td>
            <td>
              {% set record = extract %}
              {% include 'tags_lines.html' %}
            </td>
            <td>
              {% set ref_by_table, ref_by_rt, ref_by_lbl =
                     'vrule', 'V', 'value rule' %}
              {% include 'ref_by_link.html' %}
              {% set ref_by_table, ref_by_rt, ref_by_lbl =
                     'crule', 'C', 'comp. rule' %}
              {% include 'ref_by_link.html' %}
            </td>
            <td>
              <a href="{{ url_for('edit_extract', record_id=extract.id) }}"><i class="fas fa-edit"></i></a>
              <form action="{{ url_for('delete_extract', record_id=extract.id) }}" method="post" style="display: inline-block;">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-link"><i class="fas fa-trash"></i></button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script type="module">
   import { openNestedTable } from
        '{{ url_for('static', filename='js/nested_table.js') }}';
    $(function() {
      $('body').on('click', '.show-extracts-vrules',
            openNestedTable('extracts', 'vrules', 6));
      $('body').on('click', '.show-extracts-crules',
            openNestedTable('extracts', 'crules', 6));
    });
  </script>
  {% if not main %}
    <script type="module">
      import { initNestedTable } from '{{ url_for('static', filename='js/nested_table.js') }}';
      import { initTooltips } from '{{ url_for('static', filename='js/list_extract.mjs') }}';
      $(document).ready(function() {
        initNestedTable("{{table_id}}");
        initTooltips();
      });
    </script>
  {% endif %}
{% endblock %}
