{% block content %}
  {% set record_kind="vrule" %}
  {% set record_type="V" %}
  {% set table_id="vrule-table" %}
  {% if main %}
    {% set prev = 'vrule_list' %}
    {% set ancestor_ids = [] %}
  {% else %}
    {% set ancestor_ids_str = ancestor_ids | join("-") %}
    {% set table_id=table_id+"-"+ancestor_ids_str %}
  {% endif %}
  <div id="{{table_id}}-wrapper">
    <table id="{{table_id}}" class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Sources</th>
          <th>Attribute</th>
          <th>Group</th>
          <th>Group Portion</th>
          <th>Operator</th>
          <th>Reference</th>
          <th>Tags</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for vrule in vrules %}
          {% set record = vrule %}
          {% set record_id = vrule.id %}
          {% include 'row_vrule.html' %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% include 'jslinks_vrule.html' %}
{% endblock %}

