{% block content %}
  {% set record_table="attribute" %}
  {% set record_type="A" %}
  {% set table_id="attribute-table" %}
  {% if main %}
    {% set prev = 'attribute_list' %}
    {% set ancestor_ids = [] %}
  {% else %}
    {% set ancestor_ids_str = ancestor_ids | join("-") %}
    {% set table_id=table_id+"-"+ancestor_ids_str %}
  {% endif %}
  <div id="{{table_id}}-wrapper">
    <table id="{{table_id}}" class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Unit</th>
          <th>Measurement Mode</th>
          <th>Reference</th>
          <th>Location Type</th>
          <th>Location Label</th>
          <th>Tags</th>
          <th>Referenced&nbsp;by</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for attribute in attributes %}
          {% set record = attribute %}
          {% set record_id = attribute.id %}
          <tr>
            <td>
              {% if main %}
                {{ attribute.id }}
              {% else %}
                {% include 'linked_record_id.html' %}
              {% endif %}
            </td>
            <td>
              {% set related_table, related_id = 'unit', attribute.unit_id %}
              {% include 'refs_link.html' %}
            </td>
            {% if attribute.mode.mode  %}
              <td>{{ attribute.mode.mode }}</td>
              <td>
                {% if attribute.mode.reference %}
                  {% set related_table, related_id =
                     'unit', attribute.mode.reference %}
                  {% include 'refs_link.html' %}
                {% endif %}
              </td>
              <td>{{ attribute.mode.location_type }}</td>
              <td>{{ attribute.mode.location_label }}</td>
            {% else %}
              <td>{{ attribute.mode }}</td>
              <td></td> <td></td> <td></td>
            {% endif %}
            <td>
              {% include 'tags_lines.html' %}
            </td>
            <td>
              {% set ref_by_table, ref_by_rt, ref_by_lbl =
                     'vrule', 'V', 'value rule' %}
              {% include 'ref_by_link.html' %}
              {% set ref_by_table, ref_by_rt, ref_by_lbl =
                     'crule', 'C', 'comp. rule' %}
              {% include 'ref_by_link.html' %}
            </td>
            <td>
              {% include 'record_actions.html' %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script type="module">
   import { openNestedTable } from
        '{{ url_for('static', filename='js/nested_table.js') }}';
   import { openRelatedNested } from
        '{{ url_for('static', filename='js/nested_table.js') }}';
    $(function() {
      $('body').on('click', '.show-attributes-vrules',
            openNestedTable('attributes', 'vrules', 8));
      $('body').on('click', '.show-attributes-crules',
            openNestedTable('attributes', 'crules', 8));
      $('body').on('click', '.related-attributes-extracts',
            openRelatedNested('attributes', 'extracts', 8));
      $('body').on('click', '.related-attributes-units',
            openRelatedNested('attributes', 'units', 8));
    });
  </script>
  {% if not main %}
    <script type="module">
      import { initNestedTable } from '{{ url_for('static', filename='js/nested_table.js') }}';
      import { initTooltips } from '{{ url_for('static', filename='js/list_attribute.mjs') }}';
      $(document).ready(function() {
        initNestedTable("{{table_id}}");
        initTooltips();
      });
    </script>
  {% endif %}
{% endblock %}
