{% block content %}
  {% set record_table="document" %}
  {% set record_type="D" %}
  {% set table_id="document-table" %}
  {% if main %}
    {% set prev = 'document_list' %}
  {% else %}
    {% set table_id=table_id+"-"+parent_id%}
  {% endif %}
  <div id="{{table_id}}-wrapper">
    <table id="{{table_id}}" class="table table-striped table-hover">
      <thead>
          <tr>
            <th>PMID</th>
            <th>Link</th>
            <th>Tags</th>
            <th>Extracts</th>
            <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          {% for document in documents %}
             {% set record_id = egc_data.compute_id(document) %}
              <tr>
                  <td style="white-space: nowrap;">
                    <span class="document-id" style="display: inline;"
                      data-document-id="{{ record_id }}"
                      ><a href="https://pubmed.ncbi.nlm.nih.gov/{{ document.document_id.item }}"
                        target="_blank" class="no-underline pmid-link"
                      >{{ document.document_id.item }}</a></span><span
                        class="document-info"
                        style="display: inline;">&nbsp;&#9432;</span>
                  </td>

                  <td>
                    <a href="{{ document.link }}" target="_blank"
                        class="no-underline document-link">
                          {{ document.link }}
                      </a>
                  </td>
                  <td>
                    {% set record = document %}
                    {% include 'tags_lines.html' %}
                  </td>
                  <td>
                    {% set count =
                         (egc_data.ref_by_ids('D', record_id, 'S') +
                          egc_data.ref_by_ids('D', record_id, 'T')) | length %}
                    {% set ref_by_table = 'extract' %}
                    {% include 'ref_by_link.html' %}
                    {% set count = None %}
                    </div>
                  </td>
                  <td>
                      <a href="{{ url_for('edit_document', record_id=record_id) }}"
                        ><i class="fas fa-edit"></i></a>
                      <form action="{{ url_for('delete_document', record_id=record_id) }}"
                          method="post" style="display: inline-block;">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-link"
                          ><i class="fas fa-trash"></i></button>
                      </form>
                  </td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  <script type="module">
   import { openNestedTable } from
      '{{ url_for('static', filename='js/nested_table.js') }}';
    $(function() {
      $('body').on('click', '.show-documents-extracts',
            openNestedTable('documents', 'extracts', 4));
    });
  </script>
  {% if not main %}
    <script type="module">
      import { initNestedTable } from '{{ url_for('static', filename='js/nested_table.js') }}';
      import { initTooltips } from '{{ url_for('static', filename='js/list_document.mjs') }}';
      $(document).ready(function() {
        initNestedTable("{{table_id}}");
        initTooltips();
      });
    </script>
  {% endif %}
{% endblock %}

