{% block content %}
  {% set record_kind="document" %}
  {% set record_type="D" %}
  {% set table_id="document-table" %}
  {% if main %}
    {% set prev = 'document_list' %}
    {% set ancestor_ids = [] %}
  {% else %}
    {% set ancestor_ids_str = ancestor_ids | join("-") %}
    {% set table_id=table_id+"-"+ancestor_ids_str %}
  {% endif %}
  <div id="{{table_id}}-wrapper">
    <table id="{{table_id}}" class="table table-striped table-hover">
      <thead>
          <tr>
            <th>PMID</th>
            <th>Link</th>
            <th>Tags</th>
            <th>Extracts</th>
            <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          {% for record in documents %}
             {% include 'row_document.html' %}
          {% endfor %}
      </tbody>
    </table>
  </div>
  {% include 'jslinks_document.html' %}
{% endblock %}

