{% for field in form %}
  {% if field.name == "id" %}
    <div id=id-wrapper">
      {{ field.label }}
      <span class="form-group" style="display: inline;">
        <span class="form-check" style="display: inline;">
          <input class="form-check-input auto_id-checkbox" type="checkbox" \
                 name="auto_id">
          <label class="form-check-label" for="auto_id">auto</label>
          {{ field(class_="id_field form-control" + (' has-error' if field.errors else '') ) }}
          {% include 'field_error.html' %}
          <br/>
        </span>
      </span>
    </div>
  {% elif field.name == "sources" %}
    <div id="sources-container">
      <br/>
        {% for f in form.sources %}
            <div class="source-entry">
              {{ f.form.source_id.label }} {{ f.form.source_id(class_="form-control-inline") }}
              {% set field=f.form.source_id %}
              {% include 'field_error.html' %}
              <button type="button"
                      class="btn btn-danger btn-delete-source"
                      style="display: inline;">-</button>
            </div>
        {% endfor %}
        {% set field=form.sources %}
        {% include 'field_error.html' %}
    </div>
    <button type="button" id="add_source_button"
            class="btn btn-primary">add more sources...</button>
    <br/>
    <br/>
  {% elif field.name == "tags" %}
    <div id="tags-container">
      <br/>
        {% for f in form.tags %}
            <div class="tag-entry">
              Tag {{ f.form.tagname.label }} {{ f.form.tagname(class_="form-control-inline") }}
              {% set field=f.form.tagname %}
              {% include 'field_error.html' %}
              {{ f.form.tagtype.label }} {{ f.form.tagtype(class_="form-control-inline") }}
              {{ f.form.tagvalue.label }} {{ f.form.tagvalue(class_="form-control-inline") }}
              {% set field=f.form.tagvalue %}
              {% include 'field_error.html' %}
              <button type="button"
                      class="btn btn-danger btn-delete-tag"
                      style="display: inline;">-</button>
            </div>
        {% endfor %}
        {% set field=form.tags %}
        {% include 'field_error.html' %}
    </div>
    <button type="button"
            id="add_tag_button"
            class="btn btn-secondary">add more tags...</button>
    <br/>
    <br/>
  {% elif field.name != "auto_id" %}
    {% if field.inline %}<span{% else %}<div{% endif %} id="{{field.id}}-wrapper">
      {{ field.label }} {{ field(class_="form-control " + field.id + '-field ' + (' has-error' if field.errors else '') ) }}
      {% include 'field_error.html' %}
    {% if field.inline %}</span>{% else %}<br/></div>{% endif %}
  {% endif %}
{% endfor %}
<br/>
<script type="module">
  import { activateAutoIdCheckboxes } from
    '{{ url_for('static', filename='js/record_form.mjs') }}';
  $(document).ready(function() {
    activateAutoIdCheckboxes();
  });
  {% if form.script %}
    {{ form.script }}
  {% endif %}
</script>
