  <script type="module">
   import { openNestedTable, openRelatedNested } from
        '{{ url_for('static', filename='js/nested_table.js') }}';
    $(function() {
      $('body').on('click', '.show-extracts-vrules',
            openNestedTable('extracts', 'vrules', 6));
      $('body').on('click', '.show-extracts-crules',
            openNestedTable('extracts', 'crules', 6));
      $('body').on('click', '.related-extracts-documents',
            openRelatedNested('extracts', 'documents', 6));
    });
  </script>
  {% if not main %}
    <script type="module">
      import { initNestedTable } from '{{ url_for('static', filename='js/nested_table.js') }}';
      import { initTooltips } from '{{ url_for('static', filename='js/list_extract.mjs') }}';
      $(document).ready(function() {
        initNestedTable("{{table_id}}");
        initTooltips();
      });
    </script>
  {% endif %}
