  <script type="module">
   import { openNestedTable } from
      '{{ url_for('static', filename='js/nested_table.js') }}';
    $(function() {
      $('body').on('click', '.show-documents-extracts',
            openNestedTable('documents', 'extracts', 4));
    });
  </script>
  {% if not main %}
    <script type="module">
      import { initNestedTable } from '{{ url_for('static', filename='js/nested_table.js') }}';
      import { initTooltips } from '{{ url_for('static', filename='js/list_document.mjs') }}';
      $(document).ready(function() {
        initNestedTable("{{table_id}}");
        initTooltips();
      });
    </script>
  {% endif %}
