  <script type="module">
   import { openNestedTable, openRelatedNested } from
        '{{ url_for('static', filename='js/nested_table.js') }}';
    $(function() {
      $('body').on('click', '.show-groups-vrules',
            openNestedTable('groups', 'vrules', 6));
      $('body').on('click', '.show-groups-crules',
            openNestedTable('groups', 'crules', 6));
      $('body').on('click', '.show-groups-groups',
            openNestedTable('groups', 'groups', 6));
      $('body').on('click', '.related-groups-groups',
            openRelatedNested('groups', 'groups', 6));
    });
  </script>
  {% if not main %}
    <script type="module">
      import { initNestedTable } from '{{ url_for('static', filename='js/nested_table.js') }}';
      import { initTooltips } from '{{ url_for('static', filename='js/list_group.mjs') }}';
      $(document).ready(function() {
        {% if table_id %} initNestedTable("{{table_id}}"); {% endif %}
        initTooltips();
      });
    </script>
  {% endif %}
