{% if ancestor_ids %}
  {% set ancestor_ids_all = ancestor_ids + [record_id] %}
  {% set ancestor_ids_str = ancestor_ids_all | join(',') %}
{% else %}
  {% set ancestor_ids_str = record_id %}
{% endif %}
<div class="count-{{record_kind}}s-{{ref_by_kind}}s"
     data-ancestor-ids="{{ ancestor_ids_str }}">
  {% if not count %}
    {% set count=egc_data.ref_by_count(record_type, record_id, ref_by_rt) %}
  {% endif %}
  {% if not ref_by_lbl %}
    {% set ref_by_lbl = ref_by_kind %}
  {% endif %}
  {% if count > 0 %}
    <a href="#" class="show-{{record_kind}}s-{{ref_by_kind}}s">
      {{ count }} {{ref_by_lbl}}{%- if count > 1 -%}s{%- endif -%} </a>
  {% endif %}
</div>
