{% if parent_id and parent_id == related_id %}
  <i>{{ related_id }}</i>
{% else %}
<span
  {% if not noclass %}
    class="related_link"
  {% endif %}
  >
  <span class="record-id"
        style="display: inline;"
        data-record-id="{{ related_id }}">
    <a href="{{ url_for('show_'+related_type,
                  record_id=related_id,
                  previous_page=prev) }}">
      {{ related_id }} </a></span><span
     class="{{related_type}}-info"
     style="display: inline;">&nbsp;&#9432;</span><span
     style="display: inline;">
     <a href="{{ url_for('edit_'+related_type,
                  record_id=related_id,
                  previous_page=prev) }}">
       <i class="fa fa-edit" style="color: black;"></i></a></span>
</span>
{% endif %}
