{% set nested_colspan = 6 %}
{% set record_id=record.id %}
{% set record_type=record.record_type %}
<tr>
  <td>{{ record.record_type }}</td>
  <td>
    {% include 'linked_record_id.html' %}
  </td>
  <td style="white-space: nowrap;">
    {% set document_record_id = egc_data.compute_docid_from_pfx_and_item(
                                          record.document_id.resource_prefix,
                                          record.document_id.item) %}
    {% set related_kind, related_id, link_text =
           'document', document_record_id,
           'PMID:' + record.document_id.item %}
    {% include 'refs_link.html' %}
  </td>
  <td>{{ record.text if record_type == "S" else record.table_ref }}</td>
  <td>
    {% include 'tags_lines.html' %}
  </td>
  <td>
    {% set ref_by_kind, ref_by_rt, ref_by_lbl = 'vrule', 'V', 'value rule' %}
    {% include 'ref_by_link.html' %}
    {% set ref_by_kind, ref_by_rt, ref_by_lbl = 'crule', 'C', 'comp. rule' %}
    {% include 'ref_by_link.html' %}
  </td>
  <td>
    {% include 'record_actions.html' %}
  </td>
</tr>
