{% set nested_colspan = 7 %}
{% set record_type="U" %}
{% set record_id=record.id %}
<tr>
  <td>
    {% include 'linked_record_id.html' %}
  </td>
  <td>{{ record.type }}</td>
  <td>{{ linked_unit_definition(record_id, record.type,
           record.definition, ancestor_ids) | safe }}</td>
  <td>{{ linked_unit_symbol(record.type, record.symbol) | safe }}</td>
  <td>{{ linked_unit_description(record.type, record.description) | safe }}</td>
  <td>
    {% include 'tags_lines.html' %}
  </td>
  <td>
    {% set ref_by_kind, ref_by_rt = 'attribute', 'A' %}
    {% include 'ref_by_link.html' %}
    {% set ref_by_kind, ref_by_rt = 'unit', 'U' %}
    {% include 'ref_by_link.html' %}
    {% set ref_by_kind, ref_by_rt = 'model', 'M' %}
    {% include 'ref_by_link.html' %}
  </td>
  <td>
    {% include 'record_actions.html' %}
  </td>
</tr>
