{% set nested_colspan = 4 %}
{% set record_type="D" %}
{% set record_id = egc_data.compute_id(record) %}
<tr>
    <td style="white-space: nowrap;">
      <span class="document-id" style="display: inline;"
        data-document-id="{{ record_id }}"
        ><a href="https://pubmed.ncbi.nlm.nih.gov/{{ record.document_id.item }}"
          target="_blank" class="no-underline pmid-link"
        >{{ record.document_id.item }}</a></span><span
          class="document-info"
          style="display: inline;">&nbsp;&#9432;</span>
    </td>

    <td>
      <a href="{{ record.link }}" target="_blank"
          class="no-underline document-link">
            {{ record.link }}
        </a>
    </td>
    <td>
      {% include 'tags_lines.html' %}
    </td>
    <td>
      {% set count =
           (egc_data.ref_by_ids('D', record_id, 'S') +
            egc_data.ref_by_ids('D', record_id, 'T')) | length %}
      {% set ref_by_kind = 'extract' %}
      {% include 'ref_by_link.html' %}
      {% set count = None %}
      </div>
    </td>
    <td>
      {% include 'record_actions.html' %}
    </td>
</tr>
