{% set nested_colspan = 6 %}
{% set record_type="G" %}
{% set record_id=record.id %}
<tr>
  <td>
    {% include 'linked_record_id.html' %}
  </td>
  <td>{{ record.type }}</td>
  <td>{{ record.name }}</td>
  <td>{{ linked_group_definition(record_id, record.type,
                                 record.definition, ancestor_ids) | safe
      }}</td>
  <td>
    {% include 'tags_lines.html' %}
  </td>
  <td>
    {% set ref_by_kind, ref_by_rt, ref_by_lbl = 'vrule', 'V', 'value rule' %}
    {% include 'ref_by_link.html' %}
    {% set ref_by_kind, ref_by_rt, ref_by_lbl = 'crule', 'C', 'comp. rule' %}
    {% include 'ref_by_link.html' %}
    {% set ref_by_kind, ref_by_rt, ref_by_lbl = 'group', 'G', 'group' %}
    {% include 'ref_by_link.html' %}
  </td>
  <td>
    {% include 'record_actions.html' %}
  </td>
</tr>
