{% set nested_colspan = 8 %}
{% set record_type="V" %}
{% set record_id=record.id %}
<tr>
  <td>
    {% include 'linked_record_id.html' %}
  </td>
  <td>
    {% if record.source is string %}
      {% set related_kind, related_id = 'extract', record.source %}
      {% include 'refs_link.html' %}
    {% else %}
      {% for source in record.source %}
        {% set related_kind, related_id = 'extract', source %}
        {% include 'refs_link.html' %} <br/>
      {% endfor %}
    {% endif %}
  </td>
  <td>
    {% set related_kind, related_id = 'attribute', record.attribute %}
    {% include 'refs_link.html' %}
  </td>
  <td>
    {% set related_kind, related_id = 'group', record.group.id %}
    {% include 'refs_link.html' %}
  </td>
  <td>
    {% if record.group.portion %} {{ record.group.portion }} {% endif %}
  </td>
  <td>{{ record.operator }}</td>
  <td>{{ record.reference }}</td>
  <td>
    {% include 'tags_lines.html' %}
  </td>
  <td>
    {% include 'record_actions.html' %}
  </td>
</tr>
