{% block content %}
  <h2>Unit Record</h2>
  <table class="table table-striped">
    <tbody>
      <tr class="odd">
        <th>ID</th>
        <td>{{ unit.id }}</td>
      </tr>
      <tr class="even">
        <th>Type</th>
        <td>{{ unit.type }}</td>
      </tr>
      <tr class="odd">
        <th>Definition</th>
        <td>{{ unit.definition }}</td>
      </tr>
      <tr class="even">
        <th>Symbol</th>
        <td>{{ unit.symbol }}</td>
      </tr>
      <tr class="odd">
        <th>Description</th>
        <td>{{ unit.description }}</td>
      </tr>
    </tbody>
  </table>
  <a href="{{ url_for('edit_unit', record_id=unit.id) }}"
     class="btn btn-primary">Edit</a>
  <form action="{{ url_for('delete_unit', record_id=unit.id) }}"
     method="post" style="display: inline-block;">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn btn-link">Delete</button>
  </form>
{% endblock %}
