<table class="table table-striped table-record">
  <tbody>
    <tr class="odd">
      <th>ID</th>
      <td>{{ unit.id }}</td>
    </tr>
    <tr class="even">
      <th>Type</th>
      <td>{{ unit.type }}</td>
    </tr>
    <tr class="odd">
      <th>Definition</th>
      <td>{{ unit.definition }}</td>
    </tr>
    <tr class="even">
      <th>Symbol</th>
      <td>{{ unit.symbol }}</td>
    </tr>
    <tr class="odd">
      <th>Description</th>
      <td>{{ unit.description }}</td>
    </tr>
    <tr class="even">
      <th>Tags</th>
      <td>
        {% set tags = unit.tags %}
        {% include 'show_tags.html' %}
      </td>
    </tr>
  </tbody>
</table>

