<table class="table table-striped table-record">
  <tbody>
    <tr class="odd">
      <th>ID</th>
      <td>{{ crule.id }}</td>
    </tr>
    <tr class="even">
      <th>Sources</th>
      <td>
        {% if crule.source is string %}
          {% set related_type, related_id, prev =
             'extract', crule.source, 'crule_list' %}
          {% include 'related_record_link.html' %}
        {% else %}
          {% for source in crule.source %}
            {% set related_type, related_id, prev =
               'extract', source, 'crule_list' %}
            {% include 'related_record_link.html' %}
            <br/>
          {% endfor %}
        {% endif %}
      </td>
    </tr>
    <tr class="odd">
      <th>Attribute</th>
      <td>
        {% if crule.attribute is string %}
          {% set related_type, related_id, prev =
             'attribute', crule.attribute, 'crule_list' %}
             {% include 'related_record_link.html' %}
        {% else %}
          {% set related_type, related_id, prev =
             'attribute', crule.attribute.id1, 'crule_list' %}
             {% include 'related_record_link.html' %}
          <br/>vs.<br/>
          {% set related_type, related_id, prev =
             'attribute', crule.attribute.id2, 'crule_list' %}
          {% include 'related_record_link.html' %}
        {% endif %}
      </td>
    </tr>
    <tr class="even">
      <th>Group 1</th>
      <td>
        {% set related_type, related_id, prev =
           'group', crule.group1.id, 'crule_list' %}
        {% include 'related_record_link.html' %}
      </td>
    </tr>
    <tr class="odd">
      <th>Group 1 Portion</th>
      <td>
        {% if crule.group1.portion %}
          {{ crule.group1.portion }}
        {% endif %}
      </td>
    </tr>
    <tr class="even">
      <th>Operator</th>
      <td>{{ crule.operator }}</td>
    </tr>
    <tr class="odd">
      <th>Group 2</th>
      <td>
        {% set related_type, related_id, prev =
           'group', crule.group2.id, 'crule_list' %}
        {% include 'related_record_link.html' %}
      </td>
    </tr>
    <tr class="even">
      <th>Group 2 Portion</th>
      <td>
        {% if crule.group2.portion %}
          {{ crule.group2.portion }}
        {% endif %}
      </td>
    </tr>
    <tr class="odd">
      <th>Tags</th>
      <td>
        {% set tags = crule.tags %}
        {% include 'tags_lines.html' %}
      </td>
    </tr>
  </tbody>
</table>

