<table class="table table-striped">
  <tbody>
    <tr class="odd">
      <th>Document ID</th>
      <td><a href="https://pubmed.ncbi.nlm.nih.gov/{{ document.document_id.item }}"
                          target="_blank" class="no-underline pmid-link">
          {{ document.document_id.resource_prefix }}:{{ document.document_id.item }}</a>
      </td>
    </tr>
    <tr class="even">
      <th>Link</th>
      <td>
        <a href="{{ document.link }}" target="_blank" class="no-underline document-link">
              {{ document.link }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
