<table class="table table-striped table-record">
  <tbody>
    <tr class="odd">
      <th>Document ID</th>
      <td>
        <a href="https://pubmed.ncbi.nlm.nih.gov/{{ document.document_id.item }}"
                          target="_blank" class="no-underline pmid-link">
          {{ document.document_id.resource_prefix }}:{{ document.document_id.item }}
        </a>
        {%- if show_document_info -%}
          <span class="document-info-container">
            <span class="document-info" style="display: inline;">&nbsp;&#9432;
              <script type="module">
                import { initDocumentInfoTooltip } from '{{ url_for('static', filename='js/document_info.mjs') }}';
                const pmid = '{{ document.document_id.item }}';
                const url = '{{ document.link }}';
                const target = $('.document-info-container:last-child .document-info');
                initDocumentInfoTooltip(target, pmid, url);
              </script>
            </span>
          </span>
        {% endif %}
      </td>
    </tr>
    <tr class="even">
      <th>Link</th>
      <td>
        <a href="{{ document.link }}" target="_blank" class="no-underline document-link">
              {{ document.link }}
        </a>
      </td>
    </tr>
    <tr class="odd">
      <th>Tags</th>
      <td>
        {% set record = document %}
        {% include 'tags_lines.html' %}
      </td>
    </tr>
    <tr class="even">
      <th>Comment</th>
      <td>{{ document.comment }}</td>
    </tr>
  </tbody>

</table>
