<table class="table table-striped table-record">
  <tbody>
    <tr class="odd">
      <th>ID</th>
      <td>{{ vrule.id }}</td>
    </tr>
    <tr class="even">
      <th>Sources</th>
      <td>
        {% if vrule.source is string %}
          {% set related_type, related_id, prev =
             'extract', vrule.source, 'vrule_list' %}
          {% include 'related_record_link.html' %}
        {% else %}
          {% for source in vrule.source %}
            {% set related_type, related_id, prev =
               'extract', source, 'vrule_list' %}
            {% include 'related_record_link.html' %}
            <br/>
          {% endfor %}
        {% endif %}
      </td>
    </tr>
    <tr class="odd">
      <th>Attribute</th>
      <td>
        {% set related_type, related_id, prev =
           'attribute', vrule.attribute, 'vrule_list' %}
        {% include 'related_record_link.html' %}
      </td>
    </tr>
    <tr class="even">
      <th>Group</th>
      <td>
        {% set related_type, related_id, prev =
           'group', vrule.group.id, 'vrule_list' %}
        {% include 'related_record_link.html' %}
      </td>
    </tr>
    <tr class="odd">
      <th>Group Portion</th>
      <td>
        {% if vrule.group.portion %}
          {{ vrule.group.portion }}
        {% endif %}
      </td>
    </tr>
    <tr class="even">
      <th>Operator</th>
      <td>{{ vrule.operator }}</td>
    </tr>
    <tr class="odd">
      <th>Reference</th>
      <td>{{ vrule.reference }}</td>
    </tr>
    <tr class="even">
      <th>Tags</th>
      <td>
        {% set record = vrule %}
        {% include 'tags_lines.html' %}
      </td>
    </tr>
  </tbody>
</table>

