<table class="table table-striped table-record">
  <tbody>
    <tr class="odd">
      <th>ID</th>
      <td>{{ group.id }}</td>
    </tr>
    <tr class="even">
      <th>Name</th>
      <td>{{ group.name }}</td>
    </tr>
    <tr class="odd">
      <th>Type</th>
      <td>{{ group.type }}</td>
    </tr>
    <tr class="even">
      <th>Definition</th>
      <td>{{ group.definition }}</td>
    </tr>
    <tr class="odd">
      <th>Tags</th>
      <td>
        {% set tags = group.tags %}
        {% include 'show_tags.html' %}
      </td>
    </tr>
 </tbody>
</table>
