{% set record_id = egc_data.compute_modelid(model) %}
<table class="table table-striped table-record">
  <tbody>
    <tr class="odd">
      <th>Unit ID</th>
      <td>{{ model.unit_id }}</td>
    </tr>
    <tr class="even">
      <th>Resource ID</th>
      <td>{{ model.resource_id }}</td>
    </tr>
    <tr class="odd">
      <th>Model ID</th>
      <td>{{ model.model_id }}</td>
    </tr>
    <tr class="even">
      <th>Model Name</th>
      <td>{{ model.model_name }}</td>
    </tr>
    <tr class="odd">
      <th>Tags</th>
      <td>
        {% set tags = model.tags %}
        {% include 'tags_lines.html' %}
      </td>
    </tr>
 </tbody>
</table>

