body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
  font-size: 40px;
  background-image: url('../img/logo.jpg');
  background-size: 50px auto;
  background-repeat: no-repeat;
  padding-left: 60px;
  padding-bottom: 10px;
}

h1:after {
  content: "";
  display: block;
  background-color: lightgray;
  bottom: 1em;
  left: 0;
  width: 100%;
  height: 1px;
}

.field-error-msg {
  color: red;
}

.container {
    width: 97%;
    max-width: unset;
    margin-left: 20px;
    margin-right: 40px;
    padding: 20px;
    padding-top: 80px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 80%;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #007BFF;
  color: white;
}

a.no-underline {
  text-decoration: none;
}

a.create {
  margin-bottom: 20px;
}

.has-error {
  border-color: red;
  background-color: #f8d7da;
}

.filter {
  padding: 1px;
  height: calc(1.5em);
}

.tooltip-table {
  border-collapse: collapse;
  color: black;
  width: 100%;
  background-color: white;
  padding: 1px;
}

.tooltip-table table {
  margin-bottom: 0px;
}

.tooltip-table th,
.tooltip-table td {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.tooltip-table th {
  background-color: #d2d2d2;
  font-weight: bold;
}

.tooltip-table tr.even th {
  background-color: #e2e2e2;
}

.table-record {
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

.hidden {
  display: none;
}

.related_link {
  white-space: nowrap;
}

.nested-edit-form {
  background-color: #f2f8ff !important;
}

input[type="submit"],
button[type="button"],
button[type="cancel"] {
  background-color: #d7e8ff;
  border: 1px solid #bbb;
  border-radius: 3px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="button"] {
  padding: 0px 3px;
}

input[type="submit"],
button[type="cancel"] {
  font-size: 110%;
  padding: 5px 8px;
}

input[type="submit"]:hover,
button[type="button"]:hover,
button[type="cancel"]:hover {
  background-color: #b5ccef;
  color: #444;
}

button[type="button"].btn-danger {
  background-color: #ffeaea;
  border-color: #e5b7b7;
}

button[type="button"].btn-danger:hover {
  background-color: #ffc7c7;
  border-color: #d9534f;
}

.egcline {
  font-family: monospace;
  background-color: #cccccc;
  padding: 5px;
  color: black;
}

.tab {
  color: #888;
  padding-left: 3px;
  padding-right: 3px;
}
